[Unit]
Description=Ensure Jellyfin CPUsets are 1
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /srv/set-jellyfin-cpuset.sh

[Install]
WantedBy=default.target
